<h1> Join a Room </h1>
<%=form_for :room, url:"/join_room" do |f|%>
    <%=f.label :code%>
    <%=f.text_field :code %>
    <br>
    <%=f.label :password%>
    <%=f.text_field :password %>
    <br>
    <%=f.submit "Join Room"%>
<% end %>

<% if flash[:error]%>
    <%= flash[:error] %>
<%end%>
