<h1> Create a New Room </h1>
<%=form_for :room, url:"/create_room" do |f|%>
    <%=f.label :room_name%>
    <%=f.text_field :name %>
    <br>
    <%=f.label :room_password%>
    <%=f.text_field :password %>
    <br>
    <%=f.label :description%>
    <%=f.text_area :description %>
    <br>
    <%=f.submit "Create Room"%>
<% end %>

<% if @room.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

    <ul>
      <% @room.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
